.container {
  /* background-color: blue; */
  margin-top: 10%;
}
.card-title {
  color: rgb(230, 24, 230);
  font-size: xx-large;
  margin-top: 30%;
}
/* .imgZoom {
  overflow: hidden;
  height: 100%;
  background-color: aquamarine;
}
.imgZoom img {
  transition: all 1.5s ease;
}
.imgZoom:hover img {
  transform: scale(1.5);
} */
